<a href="https://colab.research.google.com/github/Mihika-J/DS-EXPS/blob/main/experiment%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_csv(r"/content/birthwt.csv")

In [ ]:
dataset1 = pd.read_csv(r"/content/cancer.csv")

In [ ]:
print(dataset1)

     Class  age  menopause  tumor-size  inv-nodes  node-caps  deg-malig  \
0        0    5          1           1          1          2          1
1        0    5          4           4          5          7         10
2        0    3          1           1          1          2          2
3        0    6          8           8          1          3          4
4        0    4          1           1          3          2          1
..     ...  ...        ...         ...        ...        ...        ...
678      0    3          1           1          1          3          2
679      0    2          1           1          1          2          1
680      1    5         10          10          3          7          3
681      1    4          8           6          4          3          4
682      1    4          8           8          5          4          5

     breast  breast-quad  irradiat
0         3            1         1
1         3            2         1
2         3            1         1
3         3            7         1
4         3            1         1
..      ...          ...       ...
678       1            1         1
679       1            1         1
680       8           10         2
681      10            6         1
682      10            4         1

[683 rows x 10 columns]

In [ ]:
print(dataset)

     low  age  lwt  race  smoke  ptl  ht  ui  ftv   bwt
0      0   19  182     2      0    0   0   1    0  2523
1      0   33  155     3      0    0   0   0    3  2551
2      0   20  105     1      1    0   0   0    1  2557
3      0   21  108     1      1    0   0   1    2  2594
4      0   18  107     1      1    0   0   1    0  2600
..   ...  ...  ...   ...    ...  ...  ..  ..  ...   ...
184    1   28   95     1      1    0   0   0    2  2466
185    1   14  100     3      0    0   0   0    2  2495
186    1   23   94     3      1    0   0   0    0  2495
187    1   17  142     2      0    0   1   0    0  2495
188    1   21  130     1      1    0   1   0    3  2495

[189 rows x 10 columns]

In [ ]:
output1 = pd.merge(dataset1, dataset,
                   on='age',
                   how='outer')

In [ ]:
print(output1)

     Class  age  menopause  tumor-size  inv-nodes  node-caps  deg-malig  \
0      0.0    5        1.0         1.0        1.0        2.0        1.0
1      0.0    5        4.0         4.0        5.0        7.0       10.0
2      1.0    5        3.0         3.0        3.0        2.0        3.0
3      1.0    5        2.0         3.0        4.0        2.0        7.0
4      0.0    5        1.0         1.0        1.0        2.0        1.0
..     ...  ...        ...         ...        ...        ...        ...
867    NaN   14        NaN         NaN        NaN        NaN        NaN
868    NaN   14        NaN         NaN        NaN        NaN        NaN
869    NaN   14        NaN         NaN        NaN        NaN        NaN
870    NaN   45        NaN         NaN        NaN        NaN        NaN
871    NaN   34        NaN         NaN        NaN        NaN        NaN

     breast  breast-quad  irradiat  low    lwt  race  smoke  ptl   ht   ui  \
0       3.0          1.0       1.0  NaN    NaN   NaN    NaN  NaN  NaN  NaN
1       3.0          2.0       1.0  NaN    NaN   NaN    NaN  NaN  NaN  NaN
2       4.0          4.0       1.0  NaN    NaN   NaN    NaN  NaN  NaN  NaN
3       3.0          6.0       1.0  NaN    NaN   NaN    NaN  NaN  NaN  NaN
4       2.0          1.0       1.0  NaN    NaN   NaN    NaN  NaN  NaN  NaN
..      ...          ...       ...  ...    ...   ...    ...  ...  ...  ...
867     NaN          NaN       NaN  0.0  135.0   1.0    0.0  0.0  0.0  0.0
868     NaN          NaN       NaN  1.0  101.0   3.0    1.0  1.0  0.0  0.0
869     NaN          NaN       NaN  1.0  100.0   3.0    0.0  0.0  0.0  0.0
870     NaN          NaN       NaN  0.0  123.0   1.0    0.0  0.0  0.0  0.0
871     NaN          NaN       NaN  1.0  187.0   2.0    1.0  0.0  1.0  0.0

     ftv     bwt
0    NaN     NaN
1    NaN     NaN
2    NaN     NaN
3    NaN     NaN
4    NaN     NaN
..   ...     ...
867  0.0  3941.0
868  0.0  2466.0
869  2.0  2495.0
870  1.0  4990.0
871  0.0  1135.0

[872 rows x 19 columns]

In [ ]:
sampled_data = output1.sample(n=5)

In [ ]:
print(sampled_data)

     Class  age  menopause  tumor-size  inv-nodes  node-caps  deg-malig  \
463    0.0    1        1.0         1.0        1.0        2.0        1.0
839    NaN   24        NaN         NaN        NaN        NaN        NaN
707    NaN   20        NaN         NaN        NaN        NaN        NaN
111    0.0    5        1.0         1.0        1.0        2.0        1.0
389    0.0    1        1.0         1.0        1.0        1.0        1.0

     breast  breast-quad  irradiat  low    lwt  race  smoke  ptl   ht   ui  \
463     2.0          1.0       1.0  NaN    NaN   NaN    NaN  NaN  NaN  NaN
839     NaN          NaN       NaN  1.0  155.0   1.0    1.0  1.0  0.0  0.0
707     NaN          NaN       NaN  0.0  121.0   2.0    1.0  0.0  0.0  0.0
111     2.0          1.0       1.0  NaN    NaN   NaN    NaN  NaN  NaN  NaN
389     3.0          1.0       1.0  NaN    NaN   NaN    NaN  NaN  NaN  NaN

     ftv     bwt
463  NaN     NaN
839  0.0  1936.0
707  0.0  3444.0
111  NaN     NaN
389  NaN     NaN

In [ ]:
dataset.drop(columns=['smoke','ftv'],inplace=True)

In [ ]:
print(dataset)

     low  age  lwt  race  ptl  ht  ui   bwt
0      0   19  182     2    0   0   1  2523
1      0   33  155     3    0   0   0  2551
2      0   20  105     1    0   0   0  2557
3      0   21  108     1    0   0   1  2594
4      0   18  107     1    0   0   1  2600
..   ...  ...  ...   ...  ...  ..  ..   ...
184    1   28   95     1    0   0   0  2466
185    1   14  100     3    0   0   0  2495
186    1   23   94     3    0   0   0  2495
187    1   17  142     2    0   1   0  2495
188    1   21  130     1    0   1   0  2495

[189 rows x 8 columns]

In [ ]:
truncated_rows = output1.head(100)

In [ ]:
print(output1)

     Class  age  menopause  tumor-size  inv-nodes  node-caps  deg-malig  \
0      0.0    5        1.0         1.0        1.0        2.0        1.0
1      0.0    5        4.0         4.0        5.0        7.0       10.0
2      1.0    5        3.0         3.0        3.0        2.0        3.0
3      1.0    5        2.0         3.0        4.0        2.0        7.0
4      0.0    5        1.0         1.0        1.0        2.0        1.0
..     ...  ...        ...         ...        ...        ...        ...
867    NaN   14        NaN         NaN        NaN        NaN        NaN
868    NaN   14        NaN         NaN        NaN        NaN        NaN
869    NaN   14        NaN         NaN        NaN        NaN        NaN
870    NaN   45        NaN         NaN        NaN        NaN        NaN
871    NaN   34        NaN         NaN        NaN        NaN        NaN

     breast  breast-quad  irradiat  low    lwt  race  smoke  ptl   ht   ui  \
0       3.0          1.0       1.0  NaN    NaN   NaN    NaN  NaN  NaN  NaN
1       3.0          2.0       1.0  NaN    NaN   NaN    NaN  NaN  NaN  NaN
2       4.0          4.0       1.0  NaN    NaN   NaN    NaN  NaN  NaN  NaN
3       3.0          6.0       1.0  NaN    NaN   NaN    NaN  NaN  NaN  NaN
4       2.0          1.0       1.0  NaN    NaN   NaN    NaN  NaN  NaN  NaN
..      ...          ...       ...  ...    ...   ...    ...  ...  ...  ...
867     NaN          NaN       NaN  0.0  135.0   1.0    0.0  0.0  0.0  0.0
868     NaN          NaN       NaN  1.0  101.0   3.0    1.0  1.0  0.0  0.0
869     NaN          NaN       NaN  1.0  100.0   3.0    0.0  0.0  0.0  0.0
870     NaN          NaN       NaN  0.0  123.0   1.0    0.0  0.0  0.0  0.0
871     NaN          NaN       NaN  1.0  187.0   2.0    1.0  0.0  1.0  0.0

     ftv     bwt
0    NaN     NaN
1    NaN     NaN
2    NaN     NaN
3    NaN     NaN
4    NaN     NaN
..   ...     ...
867  0.0  3941.0
868  0.0  2466.0
869  2.0  2495.0
870  1.0  4990.0
871  0.0  1135.0

[872 rows x 19 columns]

In [ ]:
filtered_dataset1 = dataset[dataset['age'] > 15]
print("Filtered DataFrame (age > 25):\n", filtered_dataset)

Filtered DataFrame (age > 25):
 Empty DataFrame
Columns: [Class, age, menopause, tumor-size, inv-nodes, node-caps, deg-malig, breast, breast-quad, irradiat]
Index: []